<section class="text-center notfound-section" >
    <div>
       <h1 class="my-5 p-2 fs-1 " >404</h1>
       <p class="text-muted" >File not found</p>
       <p class="text-muted" >The site configured at this address does not contain the requested file.</p>
       <p class="text-muted" >If this is your site, make sure that the filename case matches the URL as well as any <br> file permissions.</p>
       <p class="text-muted" >For root URLs (like http://example.com/) you must provide an index.html file.</p>
       <a href="">Read the full documentation <p class="text-muted" >for more information about using</p><span>GitHub Pages.</span></a>
    </div>
</section>
    